@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  background-image: url("https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1073.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.card {
  width: 16rem;
  height: calc(16rem * (7 / 5));
  perspective: 1000px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
  font-size: 10rem;
  position: relative;
  .top-suit {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 5rem;
  }
  .bottom-suit {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 5rem;
    transform: rotate(180deg);
  }
}
.number {
  padding: 0;
  text-align: center;
}

button {
  width: 150px;
  height: 30px;
  margin: 2.5rem auto 0 auto;
  border-radius: 20px;
  background-color: rgb(29, 107, 176);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.cardInner {
  visibility: hidden;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s, visibility 0s 500s;
}

.cardInner.flip {
  visibility: visible;
  transform: rotateY(180deg);
}

.frontCard,
.backCard {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
}

.frontCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backCard {
  background-image: url("https://cf.geekdo-images.com/V9pkzNgoXitxhCjLhOKkPA__itemrep/img/4M61kAEyEc9VW9MvKQTCtpw3PZA=/fit-in/246x300/filters:strip_icc()/pic1807805.jpg");
  background-size: cover;

  color: white;
  transform: rotateY(180deg);
}
